In [1]:
class Person:
  def __init__(self,age,gender):
    self.age=age
    self.gender=gender

class Employee(Person):
  def __init__(self,age,hours,gender,company="ООО Небстрой"):
    self.hours=hours
    Person.__init__(self,age,gender)
    self.age=age
    self.gender=gender

class Worker(Employee):
  def pay(self):
    return self.hours*100*30

class Engineer(Employee):
  def pay(self):
    return self.hours*300*30

In [2]:
worker=Worker(36,12,'m')
print("Зарплата рабочего = ",worker.pay(), 'рублей')
engineer=Engineer(36,12,'W')
print("Зарплата инженера = ",engineer.pay(), 'рублей, ведь у него есть высшее образование')

Зарплата рабочего =  36000 рублей
Зарплата инженера =  108000 рублей, ведь у него есть высшее образование